---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded mx-auto d-block' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded mx-auto d-block' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 200px)
      20vw, 40vw"{% endcapture %}
          {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class style="width: 60%;" sizes=sizes alt=page.profile.image cache_bust=true %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}
    <div class="clearfix">{{ content }}</div>
  </article>
</div>

{% unless site.data.resume %}
  <div class="post>
    <article>
      <div class="cv">
        {% for entry in site.data.cv %}
          <div class="card mt-3 p-3">
          {% if entry.title == 'basics' %}
            <h3 class="card-title font-weight-medium">General Info</h3>
          {% else %}
            <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
          {% endif %}
            <div>
              {% if entry.type == 'list' %}
                {% include cv/list.liquid %}
              {% elsif entry.type == 'map' %}
                {% include cv/map.liquid %}
              {% elsif entry.type == 'nested_list' %}
                {% include cv/nested_list.liquid %}
              {% elsif entry.type == 'time_table' %}
                {% include cv/time_table.liquid %}
              {% elsif entry.type == 'list_groups' %}
                {% include cv/list_groups.liquid %}
              {% else %}
                {{ entry.contents }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </article>
  </div>
{% else %}
  <div class="post">
    <article>
      <div class="cv">
        {% for data in site.data.resume %}
          {% if site.jsonresume and site.jsonresume.size > 0 %}
            {% unless site.jsonresume contains data[0] %}
              {% continue %}
            {% endunless %}
          {% endif %}
          {% if data[0] == 'meta' or data[1].size == 0 %} {% continue %} {% endif %}
          <a class="anchor" id="{{ data[0] }}"></a>
          <div class="card mt-3 p-3">
          {% if data[0] == 'basics' %}
            <h3 class="card-title font-weight-medium">General Info</h3>
          {% else %}
            <h3 class="card-title font-weight-medium">{{ data[0] | capitalize }}</h3>
          {% endif %}
            <div>
              {% case data[0] %}
                {% when 'basics' %}
                  {% include resume/basics.liquid %}
                {% when 'education' %}
                  {% include resume/education.liquid %}
                {% when 'work' %}
                  {% include resume/work.liquid %}
                {% when 'projects' %}
                  {% include resume/projects.liquid %}
                {% when 'skills' %}
                  {% include resume/skills.liquid %}
                {% when 'publications' %}
                  {% include resume/publications.liquid %}
                {% when 'languages' %}
                  {% include resume/languages.liquid %}
                {% when 'certificates' %}
                  {% include resume/certificates.liquid %}
                {% when 'awards' %}
                  {% include resume/awards.liquid %}
                {% else %}
              {% endcase %}
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- Social -->
      {% if page.social %}
        <div class="social">
          <div class="contact-icons">{% include social.liquid %}</div>

          <div class="contact-note">{{ site.contact_note }}</div>
        </div>
      {% endif %}

      {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
        {% include newsletter.liquid center=true %}
      {% endif %}
    </article>
  </div>
{% endunless %}
